<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-margin-horizontal" (click)="return()">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Imagen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <swiper-container
    style="--swiper-pagination-color: #fff"
    class="mySwiper"
    zoom="true"
    navigation="true"
    pagination="true"
    pagination-clickable="true"
  >
    <swiper-slide>
      
      <div class="swiper-zoom-container">
        <img [src]="img" />
      </div>

    </swiper-slide>
  </swiper-container>
</ion-content>
