<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-margin-horizontal" (click)="return()">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Obsevación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="informacionObs">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <section *ngIf="informacionObs">
    <ion-card>
      <ion-card-header>
        <ion-card-title *ngIf="informacionObs['tipoReporte'] == 'Recorrido'" >Criticidad: {{ informacionObs["criticidad"] }}</ion-card-title>
        <ion-card-title *ngIf="informacionObs['tipoReporte'] != 'Recorrido'" >{{informacionObs['tipoReporte']}}</ion-card-title>

        <ion-card-subtitle *ngIf="informacionObs['tipoReporte'] == 'Recorrido'">{{informacionObs['tipoReporte']}}</ion-card-subtitle>
      </ion-card-header>


         
      <ion-card-content>
        {{ informacionObs["fechaRegistro"] | date }}
      </ion-card-content>
    </ion-card>
    <section *ngIf="informacionObs['tipoReporte'] == 'Mantenimiento Preventivo'" >
      <ion-button expand="block" (click)="updateForm()"*ngIf=" 
      informacionObs['diagnosticoTecnico'] && 
      informacionObs['fallaDetectadaDuraSer'] && 
      informacionObs['comentariosEntregaEquip'] && 
      informacionObs['fimaConformidad'] && 
      !informacionObs['fechaFinaliza']
      " >Finalizar</ion-button>
    </section>

    <section *ngIf="informacionObs['tipoReporte'] == 'Mantenimiento Correctivo'" >
      <ion-button expand="block" (click)="updateForm()"*ngIf=" 
      informacionObs['diagnosticoTecnico'] && 
      informacionObs['fallaDetectadaDuraSer'] && 
      informacionObs['comentariosEntregaEquip'] && 
      !informacionObs['fechaFinaliza']
      " >Finalizar</ion-button>
    </section>
    
    <ion-button expand="block" (click)="firmaInicioObservacion()"*ngIf=" 
    informacionObs['tipoReporte'] == 'Mantenimiento Preventivo' && 
    informacionObs['diagnosticoTecnico'] && 
    !informacionObs['fechaFinaliza']&&
    !informacionObs['fimaConformidad']  
    " >Firma conformidad</ion-button>

    <div class="ion-padding" slot="content">
      <ion-card>
        <!-- <ion-card-header>
          <ion-card-title >Información </ion-card-title>
        </ion-card-header> -->

        <ion-card-header>
          <ion-item>
            <ion-card-title >{{informacionObs.identificador}} .- Información </ion-card-title>
            <ion-button fill="outline" slot="end" (click)="openEdit()">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card-header>


        <section>
          <ion-item *ngIf="informacionObs.equipo">
            <ion-label>
              <h3>Equipo</h3>
              <p>{{ informacionObs.equipo }}</p>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="informacionObs.marca">
            <ion-label>
              <h3>Marca</h3>
              <p>{{ informacionObs.marca }}</p>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="informacionObs.modelo">
            <ion-label>
              <h3>Modelo</h3>
              <p>{{ informacionObs.modelo }}</p>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="informacionObs.numeroSerie">
            <ion-label>
              <h3>N° de Serie</h3>
              <p>{{ informacionObs.numeroSerie }}</p>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="informacionObs.area">
            <ion-label>
              <h3>Área</h3>
              <p>{{ informacionObs.area }}</p>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="informacionObs.criticidad">
            <ion-label>
              <h3>Criticidad</h3>
              <p>{{ informacionObs.criticidad }}</p>
            </ion-label>
          </ion-item>

          <!-- ///Baja -->

          <ion-item *ngIf="informacionObs.adquisicionEquipo">
            <ion-label>
              <h3>Adquisición del equipo</h3>
              <p>{{ informacionObs.adquisicionEquipo }}</p>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="informacionObs.ubicacion">
            <ion-label>
              <h3>Ubicación</h3>
              <p>{{ informacionObs.ubicacion }}</p>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="informacionObs.oc">
            <ion-label>
              <h3>OC</h3>
              <p>{{ informacionObs.oc }}</p>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="informacionObs.sapID">
            <ion-label>
              <h3>ID-SAP</h3>
              <p>{{ informacionObs.sapID }}</p>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="informacionObs.diagnosticoTecnico">
            <ion-label>
              <h3>Diagnóstico Técnico</h3>
              <p style="white-space: normal !important;">{{ informacionObs.diagnosticoTecnico }}</p>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="informacionObs.motivoDanio">
            <ion-label>
              <h3>Motivo Daño</h3>
              <p style="white-space: normal;"> {{ informacionObs.motivoDanio }}</p>
            </ion-label>
          </ion-item>

          <!-- ///----baja   -->

          <!-- /// MTT p&c -->
          <ion-item *ngIf="informacionObs.tecEsp">
            <ion-label>
              <h3>Técnico Especialista</h3>
              <p>{{ informacionObs.tecEsp }}</p>
            </ion-label>
          </ion-item>


          <ion-item *ngIf="informacionObs.fallaDetectadaDuraSer">
            <ion-label>
              <h3>Fallas detectadas durante el servicio</h3>
              <p style="white-space: normal;">{{ informacionObs.fallaDetectadaDuraSer }}</p>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="informacionObs.comentariosEntregaEquip">
            <ion-label>
              <h3>Comentario a la entrega del equipo</h3>
              <p style="white-space: normal;">{{ informacionObs.comentariosEntregaEquip }}</p>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="informacionObs.fechaInicio && informacionObs['tipoReporte'] === 'Mantenimiento Correctivo' || 
          informacionObs['tipoReporte'] == 'Mantenimiento Preventivo'">
            <ion-label>
              <h3>Fecha Inicia</h3>
              <p style="white-space: normal;">{{ informacionObs.fechaInicio }}</p>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="informacionObs.fechaFinaliza && informacionObs['tipoReporte'] === 'Mantenimiento Correctivo' || 
          informacionObs['tipoReporte'] == 'Mantenimiento Preventivo'">
            <ion-label>
              <h3>Fecha Finaliza</h3>
              <p style="white-space: normal;">{{ informacionObs.fechaFinaliza }}</p>
            </ion-label>
          </ion-item>
          <!-- /// MTT p&c -->

        </section>

        <ion-card-content *ngIf="informacionObs.observacion " >
          {{ informacionObs.observacion }}
        </ion-card-content>


      </ion-card>
    </div>

    <!-- //Seleccion multiple de observaciones y firmas -->
    <ion-accordion-group [animated]="false" expand="inset">
      <!-- //Primera seccion observacion -->
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Imágenes</ion-label>
        </ion-item>
        <div
          slot="content"
          *ngIf="informacionObs['observacionesImagen'].length > 0"
        >
          <swiper-container
            style="--swiper-pagination-color: #fff"
            class="mySwiper"
            zoom="true"
            navigation="true"
            rewind="true"
          >
            <swiper-slide
              *ngFor="let item of informacionObs['observacionesImagen']"
            >
              <div class="swiper-zoom-container">
                <img [src]="item['url']" />
                <ion-item>
                  <ion-label>{{ item.fechaRegistro | date }}</ion-label>
                  <ion-button
                    fill="outline"
                    slot="end"
                    (click)="deleteImg(item)"
                    *ngIf="editable"
                    >x</ion-button
                  >
                  <ion-button
                    fill="outline"
                    slot="end"
                    (click)="openPreview(item['url'])"
                  >
                    <ion-icon name="eye-outline"></ion-icon>
                  </ion-button>
                </ion-item>
              </div>
            </swiper-slide>
          </swiper-container>
        </div>

        <div
          slot="content"
          *ngIf="informacionObs['observacionesImagen'].length == 0"
        >
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="ion-text-center">
                  <h3>No hay Imágenes que mostrar</h3>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-accordion>

      <!-- //Segunda seccion Firmas -->
      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>Recomendaciones</ion-label>
        </ion-item>

        <div
          class="ion-padding"
          slot="content"
          *ngIf="informacionObs['observacionesComentario'].length > 0"
        >
          <ion-card
            *ngFor="let data of informacionObs['observacionesComentario']"
          >
            <ion-card-header>
              <ion-card-title>{{ data.comentario }}</ion-card-title>
              <ion-card-subtitle> {{ data.user.nombre }} </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              {{ data.fechaRegistro | date }}
              <ion-button fill="outline" slot="end" (click)="openModalEdit(data)">
                <ion-icon name="create-outline"></ion-icon>
              </ion-button>

            </ion-card-content>
          </ion-card>
        </div>

        <div
          class="ion-padding"
          slot="content"
          *ngIf="informacionObs['observacionesComentario'].length == 0"
        >
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="ion-text-center">
                  <h3>No hay recomendación que mostrar</h3>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-accordion>

      <ion-accordion value="tres" *ngIf="informacionObs['tipoReporte'] == 'Mantenimiento Preventivo'" >
        <ion-item slot="header" color="light">
          <ion-label>Firma Conformidad</ion-label>
        </ion-item>

        <div slot="content" *ngIf="informacionObs['firmasObs'].length > 0">
          <ion-card style="text-align: center;" *ngFor="let data of informacionObs['firmasObs']">
            <img alt="img" style="    filter: brightness(1.1);
            mix-blend-mode:multiply" [src]="data['url']" (click)="deleteFirma(data)" />
            <ion-card-header>
              <ion-card-title>{{data.tipo}}</ion-card-title>
              <ion-card-subtitle>{{data.fechaRegistro | date}} </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              {{data.nombreFirma}}
            </ion-card-content>

          </ion-card>
        </div>

        <div class="ion-padding" slot="content" *ngIf="informacionObs['firmasObs'].length == 0">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="ion-text-center">
                  <h3>No hay firmas que mostrar</h3>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

      </ion-accordion>

    </ion-accordion-group>

    <ion-content class="ion-padding">
      <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel()">Cancelar</ion-button>
              </ion-buttons>
              <ion-title>Recomendación</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="confirm()" [strong]="true"
                  >Enviar</ion-button
                >
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-item>
              <!-- <ion-label position="stacked">Ingrese comentario</ion-label> -->
              <ion-textarea
                fill="solid"
                label="Recomendación"
                labelPlacement="floating"
                helperText="Escribe Recomendación"
                errorText="Invalid Recomendación"
                [(ngModel)]="comentario"
                autoGrow="true"
              ></ion-textarea>

              <!-- <ion-input type="text" placeholder="Comentario" [(ngModel)]="comentario"></ion-input> -->
            </ion-item>
            <ion-button expand="block"  *ngIf="comentario" (click)="verificarTexto()">Verificar Texto</ion-button>

          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-content>



  </section>
</ion-content>

<!-- Botones para podeer agregar firmas y observaciones -->
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="chevron-up-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <!-- Firma -->
    <ion-fab-button
      id="open-modal"
      expand="block"
      (click)="agregarComentario()"
    >
      <ion-icon name="chatbox-outline"></ion-icon>
    </ion-fab-button>
    <!-- Observacion -->
    <ion-fab-button (click)="agregarImagen()" *ngIf="editable">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
    <!-- agregar firma inicio -->
    <!-- <ion-fab-button (click)="firmaInicioObservacion()">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button> -->
  </ion-fab-list>
</ion-fab>
