<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-margin-horizontal" (click)="return()">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Imágenes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" (click)="tomarFoto()">
    <ion-icon name="image" slot="start"></ion-icon>
    <ion-label>Tomar foto</ion-label>
  </ion-button>

  <ion-button expand="block" (click)="getPictures()">
    <ion-icon name="image" slot="start"></ion-icon>
    <ion-label>Subir imágenes</ion-label>
  </ion-button>
  

  <ion-card>
    <ion-card-header>
      <ion-card-title>Imágenes</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>


    <section *ngIf="files.length > 0">
      <ion-card-content *ngFor="let item of photos">
        <img [src]="item">

      </ion-card-content>

    </section>

    <section *ngIf="files.length == 0" style="text-align: center;">
       <h1>No hay imagenes seleccionadas</h1>
    </section>
  </ion-card>



</ion-content>

<ion-footer *ngIf="files.length > 0">

  <ion-button expand="block" (click)="saveImage()">
    <ion-icon name="image" slot="start"></ion-icon>
    <ion-label>Guardar</ion-label>
  </ion-button>

</ion-footer>