  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start" class="ion-margin-horizontal" (click)="return()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-buttons>
      <ion-title>Observación</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf="edit"  [fullscreen]="true" class="ion-padding">
    <section>
      <h1>Editar</h1>
      <form [formGroup]="ionicForm" >

        <ion-item lines="full">
          <ion-label position="floating">Equipo</ion-label>
          <ion-input formControlName="equipo" type="text" aria-label="equipo"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Marca</ion-label>
          <ion-input formControlName="marca" type="text" aria-label="marca"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Modelo</ion-label>
          <ion-input formControlName="modelo" type="text" aria-label="modelo"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">N° Serie</ion-label>
          <ion-input formControlName="numeroSerie" type="text" aria-label="numeroSerie"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Área</ion-label>
          <ion-input formControlName="area" type="text" aria-label="area  "></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Observación</ion-label>
          <ion-textarea formControlName="observacion"   [counter]="true"
          ></ion-textarea>
        </ion-item>



        <ion-item lines="full">
          <ion-select
            aria-label="Criticidad"
            placeholder="Selecciona criticidad"
            (ionChange)="handleChange($event)"
            formControlName="criticidad"
          >
            <ion-select-option *ngFor="let hotel of criticidad" [value]="hotel.id">{{ hotel.nombre }}</ion-select-option>
          </ion-select>

    
      </ion-item>

        <ion-row>
          <ion-col>
            <ion-button type="submit" color="danger" expand="block" (click)="updateForm()">Guardar</ion-button>
          </ion-col>
        </ion-row>
      </form>

    </section>
    

  </ion-content>

  <ion-content *ngIf="!edit" [fullscreen]="true" class="ion-padding" >
    <section>
      <h1>!Editar</h1>

      <form [formGroup]="ionicForm" >

        <ion-item lines="full">
          <ion-label position="floating">Equipo</ion-label>
          <ion-input formControlName="equipo" type="text" aria-label="equipo"></ion-input>
        </ion-item>
  
        <ion-item lines="full">
          <ion-label position="floating">Marca</ion-label>
          <ion-input formControlName="marca" type="text" aria-label="marca"></ion-input>
        </ion-item>
  
        <ion-item lines="full">
          <ion-label position="floating">Modelo</ion-label>
          <ion-input formControlName="modelo" type="text" aria-label="modelo"></ion-input>
        </ion-item>
  
        <ion-item lines="full">
          <ion-label position="floating">N° Serie</ion-label>
          <ion-input formControlName="numeroSerie" type="text" aria-label="numeroSerie"></ion-input>
        </ion-item>
  
        <ion-item lines="full">
          <ion-label position="floating">Área</ion-label>
          <ion-input formControlName="area" type="text" aria-label="area  "></ion-input>
        </ion-item>
  
        <ion-item lines="full">
          <ion-label position="floating">Observación</ion-label>
          <ion-textarea formControlName="observacion"   [counter]="true"
          ></ion-textarea>
        </ion-item>

        <ion-item lines="full">
          <ion-select
            aria-label="Criticidad"
            placeholder="Selecciona criticidad"
            (ionChange)="handleChange($event)"
            formControlName="criticidad"
          >
            <ion-select-option   *ngFor="let hotel of criticidad" value="{{hotel}}" >{{ hotel.nombre }}</ion-select-option>
          </ion-select>
      </ion-item>
  
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="danger" expand="block" (click)="updateForm()">Guardar</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </section>

</ion-content>

