  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start" class="ion-margin-horizontal" (click)="return()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-buttons>
      <ion-title>Observación</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf="edit"  [fullscreen]="true" class="ion-padding">
    <section>¨
      <form [formGroup]="ionicForm" >

        <ion-item lines="full">
          <ion-label position="floating">Equipo</ion-label>
          <ion-input formControlName="equipo" type="text" aria-label="equipo"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Marca</ion-label>
          <ion-input formControlName="marca" type="text" aria-label="marca"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Modelo</ion-label>
          <ion-input formControlName="modelo" type="text" aria-label="modelo"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">N° Serie</ion-label>
          <ion-input formControlName="numeroSerie" type="text" aria-label="numeroSerie"></ion-input>
        </ion-item>

        <ion-item lines="full" *ngIf="tipoReporte == 'Recorrido' || !tipoReporte" >
          <ion-label position="floating">Área</ion-label>
          <ion-input formControlName="area" type="text" aria-label="area  "></ion-input>
        </ion-item>

        <!-- //Baja -->
        <section *ngIf="tipoReporte == 'Baja'" >
          <ion-item lines="full">
            <ion-label position="floating">Adquisición del equipo</ion-label>
            <ion-input formControlName="adquisicionEquipo" type="text" aria-label="area  "></ion-input>
          </ion-item>
          
          <ion-item lines="full">
            <ion-label position="floating">Ubicación</ion-label>
            <ion-input formControlName="ubicacion" type="text" aria-label="area  "></ion-input>
          </ion-item>
  
          <ion-item lines="full">
            <ion-label position="floating">OC</ion-label>
            <ion-input formControlName="oc" type="text" aria-label="area  "></ion-input>
          </ion-item>
  
          <ion-item lines="full">
            <ion-label position="floating">ID-SAP</ion-label>
            <ion-input formControlName="sapID" type="text" aria-label="area  "></ion-input>
          </ion-item>
  
  
          <ion-item lines="full">
            <ion-label position="floating">Diagnóstico Técnico</ion-label>
            <ion-textarea formControlName="diagnosticoTecnico"  autoGrow="true" [counter]="true"
            ></ion-textarea>
          </ion-item>
  
          <ion-item lines="full">
            <ion-label position="floating">Motivo Daño</ion-label>
            <ion-textarea formControlName="motivoDanio"  autoGrow="true" [counter]="true"
            ></ion-textarea>
          </ion-item>
  
        </section>
        <!-- ----Baja -->


         <!-- MTT P&C -->
        <section *ngIf="tipoReporte == 'Mantenimiento Correctivo' || tipoReporte == 'Mantenimiento Preventivo'" >

          <ion-item lines="full">
            <ion-label position="floating">Ubicación</ion-label>
            <ion-input formControlName="ubicacion" type="text" aria-label="area"></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Diagnóstico del equipo al llegar técnico</ion-label>
            <ion-textarea formControlName="diagnosticoTecnico"  autoGrow="true" [counter]="true"
            ></ion-textarea>
          </ion-item>


          <ion-item lines="full">
            <ion-label position="floating">Fallas detectadas durante el servicio</ion-label>
            <ion-textarea formControlName="fallaDetectadaDuraSer"  autoGrow="true" [counter]="true"
            ></ion-textarea>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Comentario a la entrega del equipo</ion-label>
            <ion-textarea formControlName="comentariosEntregaEquip"  autoGrow="true" [counter]="true"
            ></ion-textarea>
          </ion-item>


        </section>        
         <!-- MTT P&C -->

        <ion-item lines="full" *ngIf="tipoReporte == 'Recorrido' || !tipoReporte" >
          <ion-label position="floating">Observación</ion-label>
          <ion-textarea formControlName="observacion" autoGrow="true"  [counter]="true"
          ></ion-textarea>
          <ion-button expand="block" *ngIf="ionicForm.value['observacion']" (click)="verificarTexto()">Verificar Texto</ion-button>

        </ion-item>



        <ion-item lines="full" *ngIf="tipoReporte == 'Recorrido' || !tipoReporte" >
          <ion-select
            aria-label="Criticidad"
            placeholder="Selecciona criticidad"
            (ionChange)="handleChange($event)"
            formControlName="criticidad"
          >
            <ion-select-option *ngFor="let hotel of criticidad" [value]="hotel.id">{{ hotel.nombre }}</ion-select-option>
          </ion-select>

    
      </ion-item>

        <ion-row>
          <ion-col>
            <ion-button type="submit" color="danger" expand="block" (click)="updateForm()">Guardar</ion-button>
          </ion-col>
        </ion-row>
      </form>

    </section>
    

  </ion-content>

  <ion-content *ngIf="!edit" [fullscreen]="true" class="ion-padding" >
    <section>

      <form [formGroup]="ionicForm" >

        <ion-item lines="full">
          <ion-label position="floating">Equipo</ion-label>
          <ion-input formControlName="equipo" type="text" aria-label="equipo"></ion-input>
        </ion-item>
  
        <ion-item lines="full">
          <ion-label position="floating">Marca</ion-label>
          <ion-input formControlName="marca" type="text" aria-label="marca"></ion-input>
        </ion-item>
  
        <ion-item lines="full">
          <ion-label position="floating">Modelo</ion-label>
          <ion-input formControlName="modelo" type="text" aria-label="modelo"></ion-input>
        </ion-item>
  
        <ion-item lines="full">
          <ion-label position="floating">N° Serie</ion-label>
          <ion-input formControlName="numeroSerie" type="text" aria-label="numeroSerie"></ion-input>
        </ion-item>
  
        <ion-item lines="full" *ngIf="tipoReporte=='Recorrido'" >
          <ion-label position="floating" >Área</ion-label>
          <ion-input formControlName="area" type="text" aria-label="area  "></ion-input>
        </ion-item>
  
        <!-- //Baja -->
        <section *ngIf="tipoReporte == 'Baja'" >
          <ion-item lines="full">
            <ion-label position="floating">Adquisición del equipo</ion-label>
            <ion-input formControlName="adquisicionEquipo" type="text" aria-label="area  "></ion-input>
          </ion-item>
          
          <ion-item lines="full">
            <ion-label position="floating">Ubicación</ion-label>
            <ion-input formControlName="ubicacion" type="text" aria-label="area  "></ion-input>
          </ion-item>
  
          <ion-item lines="full">
            <ion-label position="floating">OC</ion-label>
            <ion-input formControlName="oc" type="text" aria-label="area  "></ion-input>
          </ion-item>
  
          <ion-item lines="full">
            <ion-label position="floating">ID-SAP</ion-label>
            <ion-input formControlName="sapID" type="text" aria-label="area  "></ion-input>
          </ion-item>
  
  
          <ion-item lines="full">
            <ion-label position="floating">Diagnostico Técnico</ion-label>
            <ion-textarea formControlName="diagnosticoTecnico"  autoGrow="true" [counter]="true"
            ></ion-textarea>
          </ion-item>
  
          <ion-item lines="full">
            <ion-label position="floating">Motivo Daño</ion-label>
            <ion-textarea formControlName="motivoDanio"  autoGrow="true" [counter]="true"
            ></ion-textarea>
          </ion-item>
  
        </section>
        <!-- ----Baja -->


         <!-- MTT P&C -->
        <section *ngIf="tipoReporte == 'Mantenimiento Correctivo' || tipoReporte == 'Mantenimiento Preventivo'" >

          <ion-item lines="full">
            <ion-label position="floating">Técnico Especialista</ion-label>
            <ion-input formControlName="tecEsp" type="text" aria-label="area"></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Ubicación</ion-label>
            <ion-input formControlName="ubicacion" type="text" aria-label="area"></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Diagnóstico del equipo al llegar técnico</ion-label>
            <ion-textarea formControlName="diagnosticoTecnico"  autoGrow="true" [counter]="true"
            ></ion-textarea>
          </ion-item>


          <ion-item lines="full">
            <ion-label position="floating">fallas detectadas durante el servicio</ion-label>
            <ion-textarea formControlName="fallaDetectadaDuraSer"  autoGrow="true" [counter]="true"
            ></ion-textarea>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Comentario a la entrega del equipo</ion-label>
            <ion-textarea formControlName="comentariosEntregaEquip"  autoGrow="true" [counter]="true"
            ></ion-textarea>
          </ion-item>


        </section>        
         <!-- MTT P&C -->

        <ion-item lines="full" *ngIf="tipoReporte == 'Recorrido' || !tipoReporte" >
          <ion-label position="floating">Observación</ion-label>
          <ion-textarea formControlName="observacion"  autoGrow="true" [counter]="true"
          ></ion-textarea>
          <ion-button *ngIf="ionicForm.value['observacion']"  expand="block" (click)="verificarTexto()">Verificar Texto</ion-button>
        </ion-item>

        <ion-item lines="full" *ngIf="tipoReporte == 'Recorrido' || !tipoReporte" >
          <ion-select
            aria-label="Criticidad"
            placeholder="Selecciona criticidad"
            (ionChange)="handleChange($event)"
            formControlName="criticidad"
          >
          <ion-select-option *ngFor="let hotel of criticidad" [value]="hotel.id">{{ hotel.nombre }}</ion-select-option>

          </ion-select>
      </ion-item>
  
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="danger" expand="block" (click)="submitForm()">Guardar</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </section>

</ion-content>

