// .card-center{
//     width:90%; // adjust width on your ion-card suitable on your screen
//     display:block;
//     margin: 0 auto;
// }

// ion-card-header { position: relative }
// .center-right{
//     position: absolute;
//     top: 50%;
//     right: 0px;
//     transform: translateY(-50%);
// }
swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }