<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-margin-horizontal" (click)="return()">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title *ngIf="reporte">{{reporte.idReporte}} Reporte</ion-title>

    <ion-buttons *ngIf="usuario?.idUsuario === 2 || usuario?.idUsuario === 1|| usuario?.idUsuario === 6" slot="end" class="ion-margin-horizontal" (click)="exportPDf()">
      <ion-icon name="eye-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="reporte">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-item *ngIf="loading" >
      <ion-spinner name="lines-sharp"></ion-spinner>
    </ion-item>
    
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  
  <section >

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{reporte['hoteles'][0]['nombre']}}</ion-card-title>
        <ion-card-subtitle>{{reporte['tipoReporte']}}</ion-card-subtitle>
      </ion-card-header>
 
      <ion-card-content>
        {{reporte['fechaRegistro'] | date}}
      </ion-card-content>
    </ion-card>



    <!-- //Seleccion multiple de observaciones y firmas -->
    <ion-accordion-group [animated]="false" expand="inset">

      <!-- //Primera seccion observacion -->
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Observaciones</ion-label>
        </ion-item>

        <div slot="content" *ngIf="reporte['observaciones'].length > 0">

          <ion-card *ngFor="let data of reporte['observaciones']">

            <ion-card-header>
              <ion-item>
                <!-- <ion-label>Observacion del reporte </ion-label> -->
                <ion-card-title >{{data.identificador}} .- Observación </ion-card-title>
                <ion-button fill="outline" slot="end" (click)="agregarFoto(data)">
                  <ion-icon name="eye-outline"></ion-icon>
                </ion-button>

                <ion-button fill="outline" slot="end" (click)="eliminarObs(data)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </ion-item>

        
              <!-- <ion-card-subtitle>{{reporte.fechaRegistro | date}} </ion-card-subtitle> -->

            </ion-card-header>


            <section>
              <ion-item *ngIf="data.equipo">
                <ion-label>
                  <h3>Equipo</h3>
                  <p>{{data.equipo}}</p>
                </ion-label>
              </ion-item>

              <ion-item *ngIf="data.marca">
                <ion-label>
                  <h3>Marca</h3>
                  <p>{{data.marca}}</p>
                </ion-label>
              </ion-item>

              <ion-item *ngIf="data.modelo">
                <ion-label>
                  <h3>Modelo</h3>
                  <p>{{data.modelo}}</p>
                </ion-label>
              </ion-item>

              <ion-item *ngIf="data.numeroSerie">
                <ion-label>
                  <h3>N° de Serie</h3>
                  <p>{{data.numeroSerie}}</p>
                </ion-label>
              </ion-item>

              <ion-item *ngIf="data.area">
                <ion-label>
                  <h3>Área</h3>
                  <p>{{data.area}}</p>
                </ion-label>
              </ion-item>

              <ion-item *ngIf="data.criticidad">
                <ion-label>
                  <h3>Criticidad</h3>
                  <p>{{data.criticidad}}</p>
                </ion-label>
              </ion-item>

          <!-- ///Baja -->

          <ion-item *ngIf="data.adquisicionEquipo">
            <ion-label>
              <h3>Adquisición del equipo</h3>
              <p>{{ data.adquisicionEquipo }}</p>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="data.ubicacion">
            <ion-label>
              <h3>Ubicación</h3>
              <p>{{ data.ubicacion }}</p>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="data.oc">
            <ion-label>
              <h3>OC</h3>
              <p>{{ data.oc }}</p>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="data.sapID">
            <ion-label>
              <h3>ID-SAP</h3>
              <p>{{ data.sapID }}</p>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="data.diagnosticoTecnico">
            <ion-label>
              <h3>Diagnóstico Técnico</h3>
              <p style="white-space: normal;">{{ data.diagnosticoTecnico }}</p>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="data.motivoDanio">
            <ion-label>
              <h3>Motivo Daño</h3>
              <p style="white-space: normal;">{{ data.motivoDanio }}</p>
            </ion-label>
          </ion-item>

          <!-- ///----baja   -->

          <!-- /// MTT p&c -->
          <ion-item *ngIf="data.tecEsp">
            <ion-label>
              <h3>Técnico Especialista</h3>
              <p>{{ data.tecEsp }}</p>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="data.fallaDetectadaDuraSer">
            <ion-label>
              <h3>Fallas detectadas durante el servicio</h3>
              <p style="white-space: normal;">{{ data.fallaDetectadaDuraSer }}</p>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="data.comentariosEntregaEquip">
            <ion-label>
              <h3>Comentario a la entrega del equipo</h3>
              <p style="white-space: normal;">{{ data.comentariosEntregaEquip }}</p>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="data.fechaInicio ">
            <ion-label>
              <h3>Fecha Inicia</h3>
              <p style="white-space: normal;">{{ data.fechaInicio }}</p>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="data.fechaFinaliza ">
            <ion-label>
              <h3>Fecha Finaliza</h3>
              <p style="white-space: normal;">{{ data.fechaFinaliza }}</p>
            </ion-label>
          </ion-item>
          <!-- /// MTT p&c -->

            </section>


            <ion-card-content>
              {{data.observacion}}
            </ion-card-content>

            <!-- ///iamges slide -->

            <swiper-container class="mySwiper" zoom="true" navigation="true"
               rewind="true">
              <swiper-slide *ngFor="let item of data['imagenes']">
                <div class="swiper-zoom-container">

                      <img [src]="item['url']" />
                      <ion-item>
                        <ion-label>{{item.fechaRegistro | date}}</ion-label>
                        <ion-button fill="outline" slot="end" (click)="deleteImg(item)" *ngIf="editable" >x</ion-button>
                        <ion-button fill="outline" slot="end" (click)="openPreview(item['url'])"  >      <ion-icon name="eye-outline"></ion-icon>
                        </ion-button>
                      </ion-item>
                </div>
              </swiper-slide>
            </swiper-container>



            <!-- </ion-card> -->



          </ion-card>
        </div>

        <div class="ion-padding" slot="content" *ngIf="reporte['observaciones'].length == 0">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="ion-text-center">
                  <h3>No hay observaciones que mostrar</h3>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

      </ion-accordion>

      <!-- //Segunda seccion Firmas -->
      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>Firmas</ion-label>
        </ion-item>

        <div slot="content" *ngIf="reporte['firmas'].length > 0">
          <ion-card *ngFor="let data of reporte['firmas']">
            <img alt="Silhouette of mountains" [src]="data['url']" (click)="deleteFirma(data)" />
            <ion-card-header>
              <ion-card-title>{{data.tipo}}</ion-card-title>
              <ion-card-subtitle>{{data.fechaRegistro | date}} </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              {{data.nombreFirma}}
            </ion-card-content>

          </ion-card>
        </div>

        <div class="ion-padding" slot="content" *ngIf="reporte['firmas'].length == 0">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="ion-text-center">
                  <h3>No hay firmas que mostrar</h3>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

      </ion-accordion>


    </ion-accordion-group>




    <!-- Recomendaciones -->
  
    <ion-card >
      <ion-card-header>
        <ion-item>
          <!-- <ion-label>Observacion del reporte </ion-label> -->
          Comentario De Gerencia
          <ion-button fill="outline" slot="end"  expand="block" id="open-modals" (click)="openmodal()"> 
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
        </ion-item>

        <!-- <ion-card-subtitle>{{reporte.fechaRegistro | date}} </ion-card-subtitle> -->
      </ion-card-header>

      <ion-card-content style="text-align: center;">
        {{reporte.recomendaciones || 'No Tiene Comentario De Gerencia'}}
      </ion-card-content>
    </ion-card>

    <ion-content class="ion-padding">
      <ion-modal trigger="open-modals" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel()">Cancelar</ion-button>
              </ion-buttons>
              <ion-title>Comentario</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="confirm()" [strong]="true"
                  >Enviar</ion-button
                >
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-item>
              <!-- <ion-label position="stacked">Ingrese comentario</ion-label> -->
              <ion-textarea
                fill="solid"
                label="Comentario"
                labelPlacement="floating"
                helperText="Escribe Comentario"
                [(ngModel)]="recomendacion"
                autoGrow="true"
              ></ion-textarea>


              <!-- <ion-input type="text" placeholder="Comentario" [(ngModel)]="comentario"></ion-input> -->
            </ion-item>
            <ion-button expand="block" *ngIf="recomendacion"  (click)="verificarTexto()">Verificar Texto</ion-button>

          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-content>
  
  </section>



</ion-content>

<!-- Botones para podeer agregar firmas y observaciones -->
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="chevron-up-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <!-- Firma -->
    <ion-fab-button *ngIf="editable" (click)="openModalFirma()">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-button  (click)="exportPDf2()" *ngIf="!editable">
      <ion-icon name="arrow-undo-outline"></ion-icon>
    </ion-fab-button>


    <!-- Observacion -->
    <ion-fab-button *ngIf="editable" (click)="openModalObservacion()">
      <ion-icon name="receipt-outline"></ion-icon>
    </ion-fab-button>
    <!-- ver Reporte -->
    <!-- <ion-fab-button (click)="exportPDf()"  >
      <ion-icon name="eye-outline"></ion-icon>
    </ion-fab-button> -->

  </ion-fab-list>
</ion-fab>



<ion-content [fullscreen]="true" *ngIf="!reporte">
  <ion-card>
    <ion-card-header>
      <ion-card-title>No hay información</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- {{reporte['hoteles']['fechaRegistro'] | date}} -->
    </ion-card-content>
  </ion-card>



</ion-content>