<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  

  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista</ion-card-title>
    </ion-card-header>

    <!-- pikachu inicio -->
    <ion-list *ngIf="false">
      <ion-item detail>
        <!--detailattributegivethearrowtoitem-->
        <ion-avatar slot="start">
          <!--slot="start"attributepositionstheavatartostart-->
          <img
            src="https://www.pngarts.com/files/3/Pokemon-Pikachu-Transparent-Background-PNG.png"
          />
        </ion-avatar>
        <ion-label>
          <h2>Pikachu - Pokemon Star</h2>
          <p>Know more about it !!</p>
        </ion-label>
      </ion-item>
      <ion-item detail>
        <ion-avatar slot="end">
          <!--slot="start"attributepositionstheavatartostart-->
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT_rGeHJhrVrPWcvTh2R-_PHFJFNx6PZOy0SQ&usqp=CAU"
          />
        </ion-avatar>
        <ion-label>
          <h2>Charmander - Pokemon</h2>
          <p>Know more about it!!</p>
        </ion-label>
      </ion-item>
      <ion-item detail>
        <ion-avatar slot="start">
          <img
            src="https://www.pngitem.com/pimgs/m/130-1306788_bulbasaur-pokemon-png-transparent-png.png"
          />
        </ion-avatar>
        <ion-label>
          <h2>Bulbasaur - Pokemon</h2>
          <p>Know more about it !!</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <!-- pikachu final -->


    <!-- list inicio -->
    <ion-list *ngFor="let data of reportesList">

      <ion-item-sliding>
        <ion-item (click)="openReporte(data)">
          <ion-label>
            <h2>{{data.descripcion || 'No hay una descripción' }}</h2>
            <p>{{data.hoteles.nombre}}</p>
            <p>  {{data['fechaRegistro'] | date}}</p>
            
          </ion-label>

          <!-- <ion-label>{{data.recomendaciones || 'No hay una descripción'}}</ion-label> -->
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option>More Options</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>
    <!-- list final -->


  </ion-card>
</ion-content>

    <!-- Botones para podeer agregar firmas y observaciones -->
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button>
        <ion-icon name="chevron-up-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button (click)="openModalReportes()">
          <ion-icon name="pencil-outline"></ion-icon>
        </ion-fab-button>

      </ion-fab-list>
    </ion-fab>
