  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start" class="ion-margin-horizontal" (click)="return()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-buttons>
      <ion-title>Partes Inventario</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content  [fullscreen]="true" class="ion-padding">
    <form [formGroup]="ionicForm" >

      <ion-item lines="full">
        <ion-label position="floating">Descripción</ion-label>
        <ion-input formControlName="descripcion" type="text" aria-label="descripcion"></ion-input>
      </ion-item>
      
      <ion-item lines="full">
        <ion-label position="floating">No. Parte</ion-label>
        <ion-input formControlName="noParte" type="number" aria-label="noParte"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Cantidad</ion-label>
        <ion-input formControlName="cantidad" type="number" aria-label="cantidad"></ion-input>
      </ion-item>

      <ion-button  expand="block" (click)="getPicture()"  *ngIf="photos.length ==0"  >
        <ion-icon name="image" slot="start"></ion-icon>
        <ion-label>Subir imagen</ion-label>
      </ion-button>


      <!-- <input type="file" multiple #filePicker (change)="onFileChoose($event)"/> -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>Imagen</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngFor="let item of photos">
          <img [src]="item">
        </ion-card-content>
      </ion-card>

      <ion-row>
        <ion-col>
          <ion-button  *ngIf="photos.length >= 1"  [disabled]="!ionicForm.valid" type="submit" color="danger" expand="block" (click)="submitForm()">Guardar</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>

     





<!-- <ion-footer>

  <ion-button expand="block" >
    <ion-icon name="image" slot="start"></ion-icon>
    <ion-label>Guardar</ion-label>
  </ion-button>

</ion-footer> -->